body {
  margin: 0;
  padding: 0;
  background-color: #ffe4c4;
}

/*HEADER AND NAVIGATIONS LINKS*/
.top-header {
	background-color: #FFFAF0;
  margin: auto;
  width: 100%;
  height:120px;
  text-align: center;
  align-content: center;
  padding: clamp(1rem, 1vw, 1rem);
}

h1 {
	color: black;
	font-family: Garamond, serif;
	font-size: 60px;
	margin: 0;
	text-align: ;
}

.nav-header {
	display: flex;
	align-items: center;
	position: relative;
	width: 100%;
}

.nav-header ul {
	display: flex;
	justify-content: center;
	list-style: none;
	padding: 0.1rem -10rem;
	gap: 15px;
	flex: 2;
}

.nav-header li {
	margin: 0;
}

/*LINKS FOR HEADER*/
.nav-header a {
	text-decoration: none;
	font-family: "Times New Roman";
	color: black;
	padding: 0.5rem 1rem;
}

.nav-header a:link {
	color: black;
	display: inline-block;
	transition: transform 0.2s ease, color 0.2s ease;
}

.nav-header a:visited {
  color: black;
}

.nav-header a:hover {
  color: #00008B;
  transform: translateY(-5px);
}

.nav-header a:active {
  color: blue;
}
 
.nav-icon {
	margin-left: -10px;
	padding-right: 0px;
	font-size: 1rem;
}

.image-container img {
	width: 100%;
  height: auto;
  display: block;
  margin-bottom: 50px;
}

h2 {
	font-family: Garamond;
	text-align: center;
}

h3 {
	font-family: "Times New Roman";
	text-align: center;
}

p {
	font-family: "Times New Roman";
	text-align: justify;
	font-size: 15px;
	padding: 25px 50px 25px 50px;
}

.flex-container {
	display: flex;
	flex: 1;
	padding: 1em;
	margin-bottom: 200px;
}

.child-item.text {
	display: flex;
	flex-direction: column;
	flex: 1;
	justify-content: right; /* horizontal */
  align-items: center;     /* vertical */
	padding: 25px 50px 75px 100px;
	line-height: 2;
	/*border: 1px solid black;*/
}

.child-item.image {
	display: flex;
	flex: 1;
	justify-content: left; /* horizontal */
  align-items: center;     /* vertical */
 /* border: 1px solid black;*/

}

.child-item.image img {
	width: 50%;
	height: 100%;
}
